  .body {
    background: #2d5696;
    background: -webkit-linear-gradient(to right, #2d5696, #3b71c4);
    background: linear-gradient(to right, #2d5696, #3b71c4);
  }
  
  input[type=text] {
    width: 100%;
    padding: 25px 50px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 5px solid white;
    outline: none;
  }
  
  input[type=text]:focus {
    background-color: white;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 3px solid white;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
      text-align: center;
      background-color: rgb(104, 30, 253);
      color: white;
      text-align: center;
      border: 3px solid #ffffff;
      padding: 12px 115px;
      border-radius: 5px;
      cursor: pointer;
      float: center;
  }
  
  input[type=submit]:hover {
    background-color: #4A00E0;
  }
  
  .col-25 {
    width: 25%;
    margin-top: 6px;
  }
  
  .col-27 {
    width: 27%;
    margin-top: 6px;
  }
  
  .col-75 {
    width: 100%;
    margin-top: 6px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
      .col-25, .col-75, .col-27, input[type=submit] {
          width: 100%;
          margin-top: 0;
      }
  }
  
  @media screen and (max-width: 600px) {
      input[type=submit]{
          padding: 12px 90px;
      }
  }
  
  .button {
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    color: white ;
    background-color: #533AD4;
    border-radius: 15px;
    text-align: center;
  }
  
  .button:hover {background-color: rgb(109, 81, 253)}
  
  .button:active {
    background-color: #533AD4;
    box-shadow: 0 5px #533AD4;
    transform: translateY(4px);
  }
  
  @media print {
    #printPageButton {
      display: none;
    }
  }