
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = 'UTF-8'>
        <meta name = 'viewport' content = 'width = device-width, initial-scale = 1.0'>
        <title>Compresión con Factorización SVD</title>
        <link rel="stylesheet" type="text/css" href="static/css/Bootstrap1.css">
        <link rel="stylesheet" type="text/css" href="/static/css/Bootstrap2.css">
        <link rel="stylesheet" href="/static/css/css.css">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <link rel="shortcut icon" href="/static/images/logoChico.png"/>
    </head>

    <body class="body ">
    <div class="wrapper wrapper-navbar ">
    <div class="wrapper-content">
        <div class="wrapper-content__body">
            <div id="block_2">
                    <div class="container">
                        <div class="row sign-up-center-alignment">
                            <div class="col-lg-8">
                                <div class="component_card">
                                    <div class="card">
                                        
                                        <div class="center">
                                            <a href="/"><img src="/static/images/logoGrande.png" class="center" width="250"></a>
                                        </div>
                                         
                                        <form action="/compressImage" enctype="multipart/form-data" method="POST" name="formulario" id="formulario">
                                                {% block content %}
                                                {% if sendMessage == True %}
                                                <div class="center">
                                                    <h5 class="center">{{mensaje}}</h6>
                                                </div>
                                                {% else %}
                                                {% endif %}
                                                {% endblock content %}
                                                
                                                <div class="form-group center">
                                                    <input type="file" id="imageToCompress" name="imageToCompress"/>
                                                </div>

                                                <div class="form-group center">
                                                    <label for="vol">Compression Factor (0 - 100):</label>
                                                    <input type="range" id="compressionFactor" name="compressionFactor" min="0" max="100">
                                                </div>

                                            <div class="component_button_submit">
                                                <div class="">
                                                    <div class="buttonStyle">
                                                        <p class="btn-space">
                                                            <input type="submit" class="btn btn-block btn-big-primary btn-space" value="Comprimir Imagen">
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </body>

</html>